*
!.gitignore
!images/
images/*
!images/employees/
images/employees/*
!images/employees/blowout_ben.png
!images/employees/crispy_chris.png
!images/employees/bouncy_bella.png
!images/employees/loud_lucy.png
!images/employees/haircut_harry.png